*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
a{text-decoration: none;}

body{
    height: 100vh;
    width: 100%; 
    display:flex;
    flex-direction: column;
}

/* Header*/

header{
    padding-top: 4px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-top: 4px;
    align-items: center;
}
.menu_item{
    margin-top: 20px;
    margin-right: 20px;
}
.menu_item a{
    color: rgba(0,0,0,0.8);
    font-size: 13px;
}
.menu_item a:hover{
    text-decoration: underline;
}

.header__apps{
    display: flex;
    align-items: center;
    color: rgba(0,0,5,0.6);
    cursor: pointer;
}

.header__apps:hover{
  box-shadow: 0 0px 40px rgba(0,0,0,0.3);
  border-radius: 40px;
}

header .btn{
    background: #1A73E8;
    color: #fff;
    border: none;
    font-size: 13px;
    cursor: pointer;
    padding: 9px 23px;
    border-radius: 5px;
    font-weight: 500;
}
header .btn:hover{
    background: #3478d1; 
}


/* Section logo*/
section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex:1
}

.wrap{
    display: flex;
    flex-direction: column;
}

.logo img{
    height: 160px;
}

.search{
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    width: 600px;
    height: 50px;
    display: flex;
    line-height: 40px;
    background-color: #fff;
    font-size: 15px;
}

.search:hover{
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    transition:all 0.4s ease;
}
input{
    border: none;
    outline: 0;
    width: 600px;
    font-size: 15px;
    border-radius: 50px;
    margin-left: 20px;
}
.icon-primary i{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
    color: rgba(0,0,5,0.6);
}
.icon-second{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon-second img{
    margin-right: 15px;
}

section .btn{
   background: #f2f2f2;
   border:1px solid #f2f2f2;
   padding: 10px 16px 10px 16px;
   margin: 30px 10px;
   font-size: 14px;
   border-radius: 5px;
   color:#5F6368;
    cursor:pointer;
}
section .btn:hover {
    border:1px solid #dadada;
    box-shadow: 0px 1px 0px #CCC;
    color:#000;
}


/* Footer*/

footer{
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
}
footer span{
    margin-left: 20px;
    line-height: 40px;
    font-size: 15px;
    color: #5F6368;
}
.footer_settings{
    border-top: 1px solid #e4e4e4;  
}
.footer_left{
    float: left;
}
.footer_left a{
    font-size: 15px;
    color: #5F6368;
    margin-left: 20px;
    line-height: 50px;
    font-weight: 500;
}
.footer_left a:hover{
    text-decoration: underline;
}
.footer_right{
    float: right;
}
.footer_right a{
    margin-right: 20px;
    font-size: 15px;
    color: #5F6368;
    line-height: 50px;
    font-weight: 500;
}
.footer_right a:hover{
    text-decoration: underline;
} 
